<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--environments 环境配置暂时不管-->
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/jdbct"></property>
                <property name="username" value="root"></property>
                <property name="password" value="anan1215"></property>
                <property name="driver" value="com.mysql.jdbc.Driver"></property>
            </dataSource>
        </environment>
    </environments>
    <!--配置类型转换器-->
    <!--<typeHandlers>
        <typeHandler handler=""></typeHandler>
    </typeHandlers>-->
    <!-- 配置model和mapper映射 -->
    <mappers>
        <mapper resource="mapper/UserMapper.xml"></mapper>
    </mappers>
</configuration>